body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f4f4f4;
}
.row .col {
  padding: 0;
}
nav {
  background-color: #208faa;
}
nav .brand-logo {
  font-size: 1.1rem;
}
nav .nav-wrapper .input-field {
  height: 0;
}
nav .nav-wrapper .input-field input[type=search] {
  background-color: #27b7db;
  box-shadow: none;
  padding-left: 2rem;
  margin-top: 10px;
  height: 3rem;
}
.left-sidebar {
  height: 100%;
  background-color: red;
  box-shadow: 1px 1px 2px;
  position: relative;
  background-color: #ffffff;
}
.left-sidebar ul {
  margin: 0;
}
.left-sidebar .user-img {
  background-image: url('/images/user-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
}
.left-sidebar .user-img .user-details {
  position: absolute;
  left: 20px;
  top: 20px;
}
.left-sidebar .user-img .user-details img {
  height: 50px;
  width: 50px;
}
.left-sidebar .user-img .user-details .material-icons {
  line-height: inherit;
}
.left-sidebar .submenu {
  margin: 20px;
}
.left-sidebar .submenu:hover {
  background-color: #f4f4f4;
}
.submenu-bottom {
  margin: 20px;
}
.submenu-bottom span {
  color: #208faa;
}
.card-panel {
  margin: 20px;
}
.card-panel #gross {
  padding: 5px;
  background-color: #27b7db;
  color: #ffffff;
  border-radius: 2px;
  display: inline-block;
  margin-top: -7px;
  font-weight: bold;
}
.card-panel h5 {
  margin-top: 4rem;
}
.card-panel h5 span {
  font-size: 0.8rem;
  font-weight: bold;
}
.card-panel .material-icons {
  line-height: inherit;
}
.card-panel .percentage {
  margin-top: -3px;
}
.main-table {
  margin: 20px;
  padding: 15px;
  background-color: #ffffff;
  height: auto;
  width: auto;
  margin-top: 0;
  box-shadow: 1px 1px 2px;
}
.main-table #table-search {
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 40%;
}
.main-table tbody > tr:last-child {
  border: none;
}
.right-sidebar {
  height: auto;
  width: auto;
  background-color: #d8d8d8;
  padding: 20px;
  box-shadow: 1px 1px 2px;
}
.right-sidebar img {
  height: 50px;
  width: 50px;
}
.right-sidebar p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
}
.right-sidebar .events {
  margin-top: 30px;
}
.right-sidebar .events li {
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #a8a8a8;
}
.right-sidebar .events li .notification-count {
  padding: 5px;
  color: #f4f4f4;
  background-color: #008748;
  margin-top: -5px;
  border-radius: 2px;
}
.right-sidebar #radar {
  width: auto;
  height: 200px;
}
